/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif; /* Use a common font for better cross-browser compatibility */
}

/* Navbar styles */
.navbar {
  background-color: #343a40; /* Dark background color */
}

.navbar-brand {
  color: #ffffff; /* White text color for brand */
}

.navbar-nav .nav-link {
  color: #ffffff; /* White text color for nav links */
}

.navbar-toggle{
  position: absolute;
}

/* images */

.login-image {
  width: 30px; /* Adjust the width as per your requirement */
  height: auto; /* Maintain aspect ratio */
  fill: #ffffff; 
  transition: transform 0.3s ease; /* Add transition for smooth size change */
}

.login-image:hover {
  transform: scale(2); /* Increase size on hover */
}

.image-container {
  background-image: url("images/cover.e479c52665e5.gif");
  background-size: cover; /*Scale the background image to cover the entire container */
  background-repeat: no-repeat; 
  height: 100px;
  margin-top: -30px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.small-image-container{
  margin-bottom: 10px;
}

.small-image-container svg {
  width: 40px;
  height: 40px;
}

/* Main section styles */
.main-section { /* Prevent the background image from repeating */
  padding: 20px;
  text-align: center;
}

.buttons-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center; /* Center align buttons */
}

.main-button {
  border-radius: 20px;
  border: 1px solid rgb(148,58,48);
  background-color: rgb(148,58,48);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  text-decoration: none; 
}

.main-button:hover {
  letter-spacing: 3px;
  color: #fff;
}

.main-button:active {
  transform: scale(0.95);
}

/* Features section styles */
.container {
  text-align: center; /* Center align content */
}

.sub-container{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px; /* Add space below headings */
}

/* Main */
main{
  margin-bottom: 204px; /* Adjust this value to match your footer's height */

}

/* Footer styles */
footer {
  background-color: #343a40; /* Dark background color */
  color: #ffffff; /* White text color */
  padding-bottom: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav a {
  color: #ffffff; /* White text color for footer links */
  margin-right: 10px; /* Add space between links */
}

footer nav a {
  color: #ffffff; /* White text color for footer links */
  margin-right: 10px; /* Add space between links */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-section {
    text-align: center; /* Center align content on smaller screens */
  }

  .buttons-section {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }

  .main-button {
    width: 100%; /* Make buttons full width on smaller screens */
  }
}

.form-control{

}

.title {
  color: black;
  font-size: 15px;
}

.title-important {
  background: linear-gradient(to right, rgba(148,58,48), black);
  -webkit-background-clip: text;
  color: transparent;
}
