{% extends "base.html" %} {% block content %}

<main class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <div class="card card-body">
        <h1 class="text-center">Password reset</h1>
        <p>
          Enter your email address below, and we'll email instructions for
          setting a new one.
        </p>
        <form method="POST">
          {% csrf_token %}
          <!-- {{ form }} -->
          {{ password_form }}
          <br /><br />
          <input type="submit" name="Send Verification" value="Send" class="btn btn-dark btn-block" >
        </form>
      </div>
    </section>
  </div>
</main>

{% endblock %}
