<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div style="text-align: center;">
        <!-- <img src="{% static 'images/logo.png' %}" alt="TaskHive Logo"> -->
        <img src="https://task-hive.azurewebsites.net/static/images/logo.png" alt="TaskHive Logo">

    </div>    
    <div style="text-align: center;">
        <p>Hello , {{ user.username }}</p>
        <p>We received a request to reset the password for your account for this email address.</p>

        <p>Click the following link:</p>
        <a href="https://task-hive.azurewebsites.net/reset/Ng/c4rsqg-3d2d8009b115bc6dc6abc524bb32fec6/">
            Reset Password
        </a>

        <p>This link can only be used once. If you need to reset your password again, please visit:</p>
        <a href="https://task-hive.azurewebsites.net/reset_password">Task Hive - Reset Password</a>

        <p>If you did not request this, please ignore this email and no changes will be made.</p>

        <p>Your username is: {{ user.username }}</p>

        <p>Sincerely,</p>
        <p>The TaskHive Team</p>
    </div>
</body>
</html>