{% extends 'base.html' %}
{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center display-3 py-5">Tasks</h1>

      <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
          <a class="task-link" href="{% url 'task_detail' task.id %}">
            <div class="d-flex justify-content-between">
              {% if task.important %}
              <h1 class="fw-bold title-important">{{task.title}}</h1>
              {% else %}
              <h1 class="fw-bold title">{{task.title}}</h1>
              {% endif %}
              <p>{{task.user.username}}</p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <p class="description text-truncate mb-0">{{task.description}}</p>

              {% if not task.dateCompleted %}
                <form class="complete-form" action="{% url 'complete_task' task.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn small-button">Complete</button>
                </form>
              {% else %}
              <p class="completed-text mb-0">Completed on: {{task.dateCompleted|date:'M j Y'}}</p>
              {% endif %}

            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
